/data
notebooks/midcourse-powerlifting-notes.ipynb
notebooks/.RData
notebooks/.Rhistory
notebooks/analysis.nb.html
notebooks/.ipynb_checkpoints/
notebooks/usapl_shiny/
notebooks/analysis-notes.Rmd







































































































































































































































































































































