/data
notebooks/midcourse-powerlifting-notes.ipynb
notebooks/.RData
notebooks/.Rhistory
notebooks/analysis.nb.html
notebooks/.ipynb_checkpoints/
notebooks/analysis-notes.Rmd
notebooks/analysis-notes.nb.html
notebooks/analysis-notes.Rmd
notebooks/visualization.Rmd
notebooks/visualization.nb.html
notebooks/temp/
notebooks/pandoc40c87b2d5f94.nb.html







































































































































































































































































































































