input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  position: fixed;
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.8;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Adjust the font size here of valueboxes */
.value-box {
  font-size: 20px !important;  
}